body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-weight: 300; /* Licht gewicht voor de algemene tekst */
}

#app-container {
  width: 30%;
  min-width: 300px;
  max-width: 500px;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
}

header {
  text-align: right;
  margin-bottom: 20px;
  font-size: 0.8em;
  color: #666;
}

header a {
  color: #1a73e8;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

#controls {
  margin-bottom: 20px;
}

#search-container {
  display: flex;
  margin-bottom: 10px;
}

#search-input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}

#search-button {
  padding: 8px 15px;
  background-color: #98fb98;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#search-button:hover {
  background-color: #7cfc00;
}

#sort-container {
  display: flex;
  justify-content: space-between;
}

#sort-newest,
#sort-oldest {
  flex-basis: 48%; /* Dit zorgt ervoor dat de knoppen niet helemaal tot de rand gaan */
  padding: 8px 0;
  background-color: #98fb98;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#sort-newest:hover,
#sort-oldest:hover {
  background-color: #7cfc00;
}

#chat-container {
  margin-bottom: 20px;
}

#navigation {
  display: flex;
  justify-content: space-between;
}

#prev-page,
#next-page {
  padding: 10px 15px;
  background-color: #98fb98;
  color: #333;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

#prev-page:hover,
#next-page:hover {
  background-color: #7cfc00;
}

.message {
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.message:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.message.gerard {
  background-color: #dcf8c6;
}

.message.gerard:hover {
  background-color: #e5fad4;
}

.message.nagelhout {
  background-color: #ffffff;
  margin-left: 1em; /* Dit verschuift de berichten van Nagelhout 1em naar rechts */
}

.message.nagelhout:hover {
  background-color: #f8f8f8;
}

.sender {
  font-weight: 600; /* Iets dikker voor betere leesbaarheid */
  margin-bottom: 5px;
}

.message.gerard .sender {
  color: #2e7d32; /* Donkergroen, past goed bij de lichtgroene achtergrond */
}

.message.nagelhout .sender {
  color: #1565c0; /* Donkerblauw, contrasteert goed met de witte achtergrond */
}

.datetime {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 5px;
  font-weight: 300;
}

.content {
  margin-top: 5px;
  font-weight: 400;
  color: #333; /* Donkergrijs voor de inhoud, goed leesbaar op beide achtergronden */
}

.content a {
  color: inherit; /* Gebruik dezelfde kleur als de omringende tekst */
  text-decoration: none; /* Verwijder de standaard onderstreping */
  border-bottom: 1px dotted currentColor; /* Voeg een subtiele stippellijn toe onder de link */
  transition: border-bottom 0.3s ease, opacity 0.3s ease; /* Soepele overgang voor hover effect */
}

.content a:hover {
  border-bottom: 1px solid currentColor; /* Maak de lijn doorgetrokken bij hover */
  opacity: 0.8; /* Maak de link iets lichter bij hover */
}

/* Als de link binnen een gemarkeerde zoekterm valt, pas de stijl aan */
.highlight a {
  border-bottom: none; /* Verwijder de stippellijn binnen gemarkeerde tekst */
}

.highlight a:hover {
  opacity: 1; /* Behoud volledige opaciteit binnen gemarkeerde tekst */
  text-decoration: underline; /* Voeg onderstreping toe bij hover binnen gemarkeerde tekst */
}

@media (max-width: 768px) {
  #sort-container {
    flex-direction: column;
  }

  #sort-newest,
  #sort-oldest {
    margin-bottom: 10px;
    flex-basis: auto;
  }

  .message {
    font-size: 14px;
  }

  .message .content {
    max-width: 100%;
  }
}

#search-input::placeholder {
  color: #999; /* Lichtere kleur voor de placeholder */
  font-style: italic; /* Maak de tekst cursief voor extra nadruk */
}

/* Voeg dit toe aan je bestaande CSS */
.highlight {
  background-color: yellow; /* Of een andere kleur die je wilt gebruiken */
  font-weight: bold; /* Optioneel: maak de gemarkeerde tekst vetgedrukt */
}
